---
layout: blog-article
title: Example post
published: true
date: 2014-10-10 01:00
slug: /example-post
tags: [example,news,story]
---
<h1><a href="/link">Example post Liquid</a></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>