<!doctype html>
<html lang="en">
		<head>
				<meta charset="utf-8">
				<title>{% block title %}Oops{% endblock %}</title>
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
				<!-- Styles -->
				{{ "404.min.css" | asset_url | stylesheet_tag }}
		</head>
		<body>
			{% block content %}{% endblock %}
				</body>
</html>