{% layout "404" %}
{% block content %}
			<span class="neg">ERROR 404</span>
			<p>
			The page is missing or was never written. You can wait and<br />
			see if it becomes available again, or you can restart your browsing experience.
			</p>
			<p>
			* Send us an e-mail to notify this and try again later.<br />

			* Click a link to restart your browsing experience.<br />
			 </p>
			 Press any link to continue <blink>_</blink>
			 <div class="menu">
						<a href="index">home</a> |
						<a href="blog">blog</a>
			 </div>
{% endblock %}